<a href="https://colab.research.google.com/github/randy-cloud/randy-cloud.github.io/blob/main/Implementasi_Himpunan_N_Soft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

menghubungkan dengan Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

manipulasi data

In [ ]:
import pandas as pd

Data

In [ ]:
data1 = pd.read_excel('/content/drive/MyDrive/Colab Data/Data/Data1.xlsx')
bobot = pd.read_excel('/content/drive/MyDrive/Colab Data/Data/bobot.xlsx')

Fungsi untuk menghitung EWCV

In [ ]:
def func1(a,b):
  baris = []
  for i in range(len(a)):
      baris.append([a['U'][i],a['a1'][i]*bobot[b][0],a['a2'][i]*bobot[b][1],a['a3'][i]*bobot[b][2],a['a4'][i]*bobot[b][3],a['a5'][i]*bobot[b][4]])
  dataframe = pd.DataFrame(baris, columns=['U','a1', 'a2','a3','a4','a5'])
  sumlist = ['a1','a2','a3','a4','a5']
  dataframe['ewcv'] = dataframe[sumlist].sum(axis=1)
  return dataframe

In [ ]:
data1

     U    a1    a2    a3    a4    a5
0   s1  85.0  78.0  82.0  89.0  92.0
1   s2  88.0  83.0  90.0  92.0  97.0
2   s3  89.0  87.0  92.0  92.0  95.0
3   s4  86.0  89.0  98.0  78.0  94.0
4   s5  69.0  74.0  78.0  72.0  80.0
5   s6  63.0  68.0  65.0  39.0  79.0
6   s7  44.0  47.0  48.0  31.0  53.0
7   s8  87.0  79.0  90.0  72.0  92.0
8   s9  92.0  82.0  86.0  74.0  96.0
9  s10  61.0  69.0  61.0  66.0  77.0

Hitung EWCV

In [ ]:
ewcv_m1 = func1(data1, 'm1')
ewcv_m2 = func1(data1, 'm2')
ewcv_m3 = func1(data1, 'm3')
ewcv_m4 = func1(data1, 'm4')
ewcv_m5 = func1(data1, 'm5')
ewcv_m6 = func1(data1, 'm6')
ewcv_m7 = func1(data1, 'm7')
ewcv_m8 = func1(data1, 'm8')
ewcv_m9 = func1(data1, 'm9')
ewcv_m10 = func1(data1, 'm10')
ewcv_m11 = func1(data1, 'm11')
ewcv_m12 = func1(data1, 'm12')
ewcv_m13 = func1(data1, 'm13')
ewcv_m14 = func1(data1, 'm14')
ewcv_m15 = func1(data1, 'm15')

In [ ]:
ewcv_m15.T

,0,1,2,3,4,5,6,7,8,9
U,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10
a1,680.0,704.0,712.0,688.0,552.0,504.0,352.0,696.0,736.0,488.0
a2,702.0,747.0,783.0,801.0,666.0,612.0,423.0,711.0,738.0,621.0
a3,656.0,720.0,736.0,784.0,624.0,520.0,384.0,720.0,688.0,488.0
a4,801.0,828.0,828.0,702.0,648.0,351.0,279.0,648.0,666.0,594.0
a5,920.0,970.0,950.0,940.0,800.0,790.0,530.0,920.0,960.0,770.0
ewcv,3759.0,3969.0,4009.0,3915.0,3290.0,2777.0,1968.0,3695.0,3788.0,2961.0

Fungsi untuk mengurutkan data

In [ ]:
def func2(data):
  return data.sort_values(by="ewcv", ascending=False).drop(columns=['a1', 'a2','a3','a4','a5'])

Mengurutkan data EWCV

In [ ]:
uk_m1 = func2(ewcv_m1)
uk_m2 = func2(ewcv_m2)
uk_m3 = func2(ewcv_m3)
uk_m4 = func2(ewcv_m4)
uk_m5 = func2(ewcv_m5)
uk_m6 = func2(ewcv_m6)
uk_m7 = func2(ewcv_m7)
uk_m8 = func2(ewcv_m8)
uk_m9 = func2(ewcv_m9)
uk_m10 = func2(ewcv_m10)
uk_m11 = func2(ewcv_m11)
uk_m12 = func2(ewcv_m12)
uk_m13 = func2(ewcv_m13)
uk_m14 = func2(ewcv_m14)
uk_m15 = func2(ewcv_m15)

In [ ]:
uk_m15.T

,2,1,3,8,0,7,4,9,5,6
U,s3,s2,s4,s9,s1,s8,s5,s10,s6,s7
ewcv,4009.0,3969.0,3915.0,3788.0,3759.0,3695.0,3290.0,2961.0,2777.0,1968.0